$black: #1b1b1b;
$gray: #746565;
$white: white;

$pinkred: #e40044;
$orange: #ff5410;

$yellow: #fbff22;
$greenyellow: #b3ff00;

$green: #00db00;
$darkgreen: #1ea51e;
$bluegreen: #00d8a2;

$blue: #2255ff;
$darkblue: blue;
$purple: #8c00ff;